html body{
            background-color: #000;
        }
        .darkolorbg{
            background-color: #1e1c1c!important;
        }
        .blancolor{
        color: #fff!important;
        }
        .nav-bar-icon{
            margin-left: 8px;
        }
        .card-canal{
            padding: 0px 15px 0px 15px;
            margin-bottom: 1%;
        }
        .canal-img{
            width: 50px;
            float: center;
        }
        .canal-feather{
            width: 100px;
            background-size: 100px;
            float: center;
        }
        .canal-text{
            text-align: center;
        }
        .title{
            font-size: 90%;
        }
        .darkbg{
            background-color: #000;
        }
        .dark2bg{
            background-color: #2f363d;
        }
        .icons-padding{
            padding: 1px 80px!important;
        }
        .nav-top{
            border-bottom:1px solid #aba;
        }
        .nav-bottom{
            border-top:2px solid rgb(1,10,100);padding-top:10px;
        }
        .card-group{
            padding: 5px 90px;
        }
        .card{
            margin-right: 5%;
            margin-bottom: 5%;
        }
        .card-link{
            text-decoration: none;
        }
        .card-img-top{
            width: 50px;
            align-items: center;
            align-content: center;
        }
        .categ-text{
            margin-top: 3%;
        }
        /*MENU*/
        .altmenu
        {
            width:100%;
            height: auto;
            background:0 0;
            background-color: #000;
            position:fixed;
            bottom:0;
            left:0;
            border-top:1px solid #aba;
        }
        .altmenu ul
        {
            padding:0;
            margin:0;
            background-color: #000;
        }
        .altmenu ul li
        {
            display:inline-block;
            width:20.04%;
            margin-left: 0px;
        }
        .altmenu ul li a
        {
            position:relative;
            display:block;
            padding: 8px 80px;
            text-align:center;
            font-size:10px;color:#fff;
            background:#000;
            transition:300ms;
        }
        .altmenu ul li a:hover
        {
            color:teal
        }
        .activo
        {
            color:teal!important
        }
        @media(max-width:930px)
        {}
         .altmenu ul li a
        {
            padding:4px;
        }
        .bottom-icon{
            background-color: #000;
        }
        .menu-element{
            color: red;!important
            top: 1px;
        }
        .activo{
            color: #1a75ad;
        }
        /*CANALES*/
        .beinn{
            background-image: url(https://www.flaticon.es/svg/static/icons/svg/870/870887.svg);
        }