*{
			 -webkit-user-select: none;
    		-moz-user-select: -moz-none;
    		-o-user-select: none;
    		user-select: none;
		}
		img {
  			-webkit-user-drag: none;
  			-moz-user-drag: none;
  			-o-user-drag: none;
  			user-drag: none;
		}
		img {
			pointer-events: none;
		}
        .card-img-top{
            width: 100%;
            height: 100%;
            position: relative;
        }
		.card-movie{
			padding: 0 !important;
			width: 12rem;
			margin: 3px; 
			border-radius: 10px;
			box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
		}
		.card-movie img{
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			height: 18rem;
		}
		.info_movie{
			color: #fff;
		}

		.info_movie i{
			font-size: 10px;
            position: relative;
            color: #fff;
		}
		.card-title{
			width: 80%;
			height: 4rem;
            color: #fff;
		}
		.play_button{
			background-color: #fff;
   			position: absolute;
			width: 60px;
			height: 60px;
			border-radius: 50%;
			right: 20px;
			bottom: 111px;
			font-size: 27px;
			padding-left: 7px;
			padding-top: 18px;
			color: #5e5c5c;
			cursor: pointer;
		}
		.credits{
			margin-top: 20px;
			margin-bottom: 20px;
			border-radius: 8px;
			border: 2px solid #fff;
			font-size: 15px;
		}
		.credits .card-body{
			padding: 0;
            color: #fff;
		}
		.credits p{
			padding-top: 15px;
			padding-left: 18px;
            color: #fff;
		}
		.credits .card-body i{
			color: #fff;
		}
        .img-exclusiva{
            width: 48px;
        }