/*CANALES*/
.cero{
    background-image: url(../images/0.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.unomasuno{
    background-image: url(../images/1+1.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.unohd{
    background-image: url(../images/1hd.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.unomusic{
    background-image: url(../images/1music.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.tresabn{
    background-image: url(../images/3abn.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.fourfun{
    background-image: url(../images/4fun.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cincortv{
    background-image: url(../images/5rtv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.sixplay{
    background-image: url(../images/6play.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cerocerosiete{
    background-image: url(../images/007.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.sietelarioja{
    background-image: url(../images/7larioja.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.sieterm{
    background-image: url(../images/7rm.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.sietetv{
    background-image: url(../images/7tv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.ochoandalucia{
    background-image: url(../images/8andalucia.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.ocholamarina{
    background-image: url(../images/8lamarinatv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.ochomontblanc{
    background-image: url(../images/8montblanc.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.nuevelaloma{
    background-image: url(../images/9laloma.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.trece{
    background-image: url(../images/13.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.trecemax{
    background-image: url(../images/13max.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.catorce{
    background-image: url(../images/14.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.quince{
    background-image: url(../images/15tv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.dieciocho{
    background-image: url(../images/18.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.veinticuatroh{
    background-image: url(../images/24H.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.veinticinco{
    background-image: url(../images/25tv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.veintiseis{
    background-image: url(../images/26.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.veintiseisac{
    background-image: url(../images/26ac.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.treintaatv{
    background-image: url(../images/30atv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.treintitres{
    background-image: url(../images/33.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cuarenticinco{
    background-image: url(../images/45.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cientouno{
    background-image: url(../images/101tv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.veinticuatro7retro{
    background-image: url(../images/247retro.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.trescientosveinticuatro{
    background-image: url(../images/324.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.quinientostreintayocho{
    background-image: url(../images/538.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.a3{
    background-image: url(../images/a3.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.a3cine{
    background-image: url(../images/a3cine.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.a24{
    background-image: url(../images/a24.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.abc{
    background-image: url(../images/abc.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.abcau{
    background-image: url(../images/33.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.treintitres{
    background-image: url(../images/abc_au.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.acc{
    background-image: url(../images/acc.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.acentotv{
    background-image: url(../images/acentotv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.actv{
    background-image: url(../images/actv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.adm{
    background-image: url(../images/adm.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.adultswim{
    background-image: url(../images/adultswim.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.adventure{
    background-image: url(../images/adventure.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.ae{
    background-image: url(../images/ae.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.afv{
    background-image: url(../images/afv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.ahc{
    background-image: url(../images/ahc.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.ahoratv{
    background-image: url(../images/ahoratv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.akctv{
    background-image: url(../images/akctv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.aktionar{
    background-image: url(../images/aktionar.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.alarabiya{
    background-image: url(../images/alarabiya.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.alcarriatv{
    background-image: url(../images/alcarriatv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.alee{
    background-image: url(../images/alee.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.alee{
    background-image: url(../images/alee.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.alex{
    background-image: url(../images/alex.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.alhurra{
    background-image: url(../images/alhurra.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.aliento{
    background-image: url(../images/aliento.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.aljazeera{
    background-image: url(../images/aljazeera.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.alkass{
    background-image: url(../images/alkass.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.allsports{
    background-image: url(../images/allsports.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.almansa{
    background-image: url(../images/almansa.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.almassora{
    background-image: url(../images/almassora.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.alsace20{
    background-image: url(../images/alsace20.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.amc{
    background-image: url(../images/amc.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.amc{
    background-image: url(../images/amc.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.amcanal{
    background-image: url(../images/amcanal.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.america{
    background-image: url(../images/america.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.americanhorrors{
    background-image: url(../images/americanhorrors.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.americateve{
    background-image: url(../images/americateve.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.americatv{
    background-image: url(../images/americatv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.amsports{
    background-image: url(../images/amsports.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.animalplanet{
    background-image: url(../images/animal.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.animeallday{
    background-image: url(../images/animeallday.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.ann{
    background-image: url(../images/ann.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.ant1{
    background-image: url(../images/ant1.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.antenalatina{
    background-image: url(../images/antenalatina.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.antenne{
    background-image: url(../images/antenne.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.antofagasta{
    background-image: url(../images/antofagasta.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.azteca1{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/4a/AZSINCOPY.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.azteca7{
    background-image: url(https://destel.mx/wp-content/uploads/2016/04/418.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.bayerntv{
    background-image: url(../images/bayern.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.beinn{
    background-image: url(https://www.flaticon.es/svg/static/icons/svg/870/870887.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.bemad{
    background-image: url(../images/bemad.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.tyc{
    background-image: url(../images/tycsports.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.lequipe{
    background-image: url(../images/lequipe.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.tigo{
    background-image: url(../images/tigosports.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.goltvec{
    background-image: url(../images/goltv.png);
    background-repeat: no-repeat;
    background-size: contain;
}