/*CANALES*/
.cero{
    background-image: url(../images/0.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.unomasuno{
    background-image: url(../images/1+1.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.unohd{
    background-image: url(../images/1hd.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.unomusic{
    background-image: url(../images/1music.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.tresabn{
    background-image: url(../images/3abn.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.fourfun{
    background-image: url(../images/4fun.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cincortv{
    background-image: url(../images/5rtv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.sixplay{
    background-image: url(../images/6play.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cerocerosiete{
    background-image: url(../images/007.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.sietelarioja{
    background-image: url(../images/7larioja.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.sieterm{
    background-image: url(../images/7rm.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.sietetv{
    background-image: url(../images/7tv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.ochoandalucia{
    background-image: url(../images/8andalucia.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.ocholamarina{
    background-image: url(../images/8lamarinatv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.ochomontblanc{
    background-image: url(../images/8montblanc.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.nuevelaloma{
    background-image: url(../images/9laloma.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.trece{
    background-image: url(../images/13.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.trecemax{
    background-image: url(../images/13max.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.catorce{
    background-image: url(../images/14.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.quince{
    background-image: url(../images/15tv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.dieciocho{
    background-image: url(../images/18.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.veinticuatroh{
    background-image: url(../images/24H.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.veinticinco{
    background-image: url(../images/25tv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.veintiseis{
    background-image: url(../images/26.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.veintiseisac{
    background-image: url(../images/26ac.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.treintaatv{
    background-image: url(../images/30atv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.treintitres{
    background-image: url(../images/33.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cuarenticinco{
    background-image: url(../images/45.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cientouno{
    background-image: url(../images/101tv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.veinticuatro7retro{
    background-image: url(../images/247retro.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.trescientosveinticuatro{
    background-image: url(../images/324.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.quinientostreintayocho{
    background-image: url(../images/538.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.a3{
    background-image: url(../images/a3.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.a3cine{
    background-image: url(../images/a3cine.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.a24{
    background-image: url(../images/a24.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.abc{
    background-image: url(../images/abc.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.abcau{
    background-image: url(../images/33.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.treintitres{
    background-image: url(../images/abc_au.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.acc{
    background-image: url(../images/acc.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.acentotv{
    background-image: url(../images/acentotv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.actv{
    background-image: url(../images/actv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.adm{
    background-image: url(../images/adm.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.adultswim{
    background-image: url(../images/adultswim.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.adventure{
    background-image: url(../images/adventure.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.ae{
    background-image: url(../images/ae.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.afv{
    background-image: url(../images/afv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.ahc{
    background-image: url(../images/ahc.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.ahoratv{
    background-image: url(../images/ahoratv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.akctv{
    background-image: url(../images/akctv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.aktionar{
    background-image: url(../images/aktionar.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.alarabiya{
    background-image: url(../images/alarabiya.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.alcarriatv{
    background-image: url(../images/alcarriatv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.alee{
    background-image: url(../images/alee.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.alee{
    background-image: url(../images/alee.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.alex{
    background-image: url(../images/alex.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.alhurra{
    background-image: url(../images/alhurra.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.aliento{
    background-image: url(../images/aliento.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.aljazeera{
    background-image: url(../images/aljazeera.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.alkass{
    background-image: url(../images/alkass.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.allsports{
    background-image: url(../images/allsports.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.almansa{
    background-image: url(../images/almansa.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.almassora{
    background-image: url(../images/almassora.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.alsace20{
    background-image: url(../images/alsace20.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.amc{
    background-image: url(../images/amc.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.amc{
    background-image: url(../images/amc.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.amcanal{
    background-image: url(../images/amcanal.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.america{
    background-image: url(../images/america.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.americanhorrors{
    background-image: url(../images/americanhorrors.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.americateve{
    background-image: url(../images/americateve.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.americatv{
    background-image: url(../images/americatv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.amsports{
    background-image: url(../images/amsports.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.animalplanet{
    background-image: url(../images/animal.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.animeallday{
    background-image: url(../images/animeallday.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.ann{
    background-image: url(../images/ann.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.ant1{
    background-image: url(../images/ant1.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.antenalatina{
    background-image: url(../images/antenalatina.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.antenne{
    background-image: url(../images/antenne.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.antofagasta{
    background-image: url(../images/antofagasta.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.aprendetv{
    background-image: url(../images/aprendetv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.apunt{
    background-image: url(../images/apunt.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.aragontv{
    background-image: url(../images/aragontv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.aranda{
    background-image: url(../images/aranda.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.ard{
    background-image: url(../images/ard.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.argentisima{
    background-image: url(../images/argentisima.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.arirang{
    background-image: url(../images/arirang.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.arisenews{
    background-image: url(../images/arisenews.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.asn{
    background-image: url(../images/asn.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.asturiastv{
    background-image: url(../images/asturiastv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.atb{
    background-image: url(../images/atb.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.atp{
    background-image: url(../images/atp.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.atress{
    background-image: url(../images/atress.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.atvp{
    background-image: url(../images/atvp.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.auria{
    background-image: url(../images/auria.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.av{
    background-image: url(../images/av.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.avivamiento{
    background-image: url(../images/avivamiento.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.awe{
    background-image: url(../images/awe.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.awesome{
    background-image: url(../images/awesome.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.axn{
    background-image: url(../images/axn.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.azteca1{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/4a/AZSINCOPY.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.azteca7{
    background-image: url(https://destel.mx/wp-content/uploads/2016/04/418.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.babyfirst{
    background-image: url(../images/babyfirst.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.baeble{
    background-image: url(../images/baeble.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.bailentv{
    background-image: url(../images/bailentv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.band{
    background-image: url(../images/band.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.barna{
    background-image: url(../images/BARNA.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.bar{
    background-image: url(https://futbar.com/static/img/laliga_white_logo.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.bayerntv{
    background-image: url(../images/bayern.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.bbc{
    background-image: url(../images/bbc.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.bblack{
    background-image: url(../images/bblack.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.bdn{
    background-image: url(../images/bdn.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.beinn{
    background-image: url(https://www.flaticon.es/svg/static/icons/svg/870/870887.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.bemad{
    background-image: url(../images/bemad.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.ben{
    background-image: url(../images/ben.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.benavente{
    background-image: url(../images/benavente.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.bergueda{
    background-image: url(../images/bergueda.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.bet{
    background-image: url(../images/bet.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.beteve{
    background-image: url(../images/beteve.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.bethel{
    background-image: url(../images/bethel.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.betis{
    background-image: url(../images/betis.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.betterlife{
    background-image: url(../images/betterlife.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.bfmtv{
    background-image: url(../images/bfmtv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.bgm{
    background-image: url(../images/bgm.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.bhtv{
    background-image: url(../images/bhtv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.bielingue{
    background-image: url(../images/bielingue.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.biglife{
    background-image: url(../images/biglifetv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.bigsky{
    background-image: url(../images/bigsky.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.biosfera{
    background-image: url(../images/biosfera.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.birikina{
    background-image: url(../images/birikina.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.biztv{
    background-image: url(../images/biztv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.blaze{
    background-image: url(../images/blaze.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.blazetv{
    background-image: url(../images/blazetv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.bloody{
    background-image: url(../images/bloody.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.bloomberg{
    background-image: url(../images/bloomberg.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.bnc{
    background-image: url(../images/bnc.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.boing{
    background-image: url(../images/boing.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.bolivia{
    background-image: url(../images/bolivia.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.bolivision{
    background-image: url(../images/bolivision.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.bonappetit{
    background-image: url(../images/bonappetit.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.bondiatv{
    background-image: url(../images/bondiatv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.boomerang{
    background-image: url(../images/boomerang.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.brattv{
    background-image: url(../images/brattv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.bravo{
    background-image: url(../images/bravo.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.bspoketv{
    background-image: url(../images/bspoketv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.burrianateve{
    background-image: url(../images/burrianateve.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.buzzr{
    background-image: url(../images/buzzr.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.bvn{
    background-image: url(../images/bvn.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.bx1{
    background-image: url(../images/bx1.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.c4{
    background-image: url(../images/c4.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.c5n{
    background-image: url(../images/c5n.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.c9bb{
    background-image: url(../images/c9bb.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.c9n{
    background-image: url(../images/c9n.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.c10{
    background-image: url(../images/c10.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.c33madrid{
    background-image: url(../images/c33madrid.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.c56{
    background-image: url(../images/c56.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cacerestv{
    background-image: url(../images/caceresteve.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cacoc{
    background-image: url(../images/cacoc.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.calitv{
    background-image: url(../images/calitv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.campinasur{
    background-image: url(../images/campinasur.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.campus{
    background-image: url(../images/campus.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.canal4{
    background-image: url(../images/canal4.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.canal4uy{
    background-image: url(../images/canal4_uy.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.canal4b{
    background-image: url(../images/canal4b.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.canal4j{
    background-image: url(../images/canal4j.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.canal4m{
    background-image: url(../images/canal4m.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.canal4tv{
    background-image: url(../images/canal4tv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.canal6{
    background-image: url(../images/canal6.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.canal7{
    background-image: url(../images/canal7.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.canal10e{
    background-image: url(../images/canal10e.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.canal10m{
    background-image: url(../images/canal10m.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.canal10n{
    background-image: url(../images/canal10n.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.canal10u{
    background-image: url(../images/canal10u.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.canal12{
    background-image: url(../images/canal12.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.canal13{
    background-image: url(../images/canal13.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.canal22{
    background-image: url(../images/canal22.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.canal33{
    background-image: url(../images/canal33.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.canal44{
    background-image: url(../images/canal44.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.canal54{
    background-image: url(../images/canal54.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.canal2000{
    background-image: url(../images/canal2000.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.canalblau{
    background-image: url(../images/canalblau.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.canalcapital{
    background-image: url(../images/canalcapital.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.canalcoin{
    background-image: url(../images/canalcoin.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.canalcongreso{
    background-image: url(../images/canalcongreso.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.canalextremadura{
    background-image: url(../images/canalextremadura.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.canalm{
    background-image: url(../images/canalm.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.canalmalaga{
    background-image: url(../images/canalmalaga.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.canalplus{
    background-image: url(../images/canalplus.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.canalsur{
    background-image: url(../images/canalsur.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.canaltrece{
    background-image: url(../images/canaltrece.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.canaltro{
    background-image: url(../images/canaltro.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cancionero{
    background-image: url(../images/cancionero.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.capital{
    background-image: url(../images/capital.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.caracol{
    background-image: url(../images/caracol.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cardedeu{
    background-image: url(../images/cardedeu.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.carolina{
    background-image: url(../images/carolina.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cartoon{
    background-image: url(../images/cartoon.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cas{
    background-image: url(../images/cas.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.catholic{
    background-image: url(../images/catholic.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cazavision{
    background-image: url(../images/cazavision.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cazaypesca{
    background-image: url(../images/cazaypesca.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cbc{
    background-image: url(../images/cbc.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cbn{
    background-image: url(../images/cbn.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cbs{
    background-image: url(../images/cbs.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cbtv{
    background-image: url(../images/cbtv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cbtv_b{
    background-image: url(../images/cbtv_b.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cbtv_m{
    background-image: url(../images/cbtv_m.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cc{
    background-image: url(../images/cc.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.ccg{
    background-image: url(../images/ccg.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cctv{
    background-image: url(../images/cctv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cdf{
    background-image: url(../images/cdf.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cdlc{
    background-image: url(../images/cdlc.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cdn{
    background-image: url(../images/cdn.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cdo{
    background-image: url(../images/cdo.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cds{
    background-image: url(../images/cds.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cetelmon{
    background-image: url(../images/cetelmon.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cferia{
    background-image: url(../images/cferia.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cgtn{
    background-image: url(../images/cgtn.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.challenge{
    background-image: url(../images/challenge.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.channel4{
    background-image: url(../images/channel4.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.channel5{
    background-image: url(../images/channel5.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.chapintv{
    background-image: url(../images/chapintv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.chaulatv{
    background-image: url(../images/chaulatv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.chch{
    background-image: url(../images/chch.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cheddar{
    background-image: url(../images/cheddar.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.chmedia{
    background-image: url(../images/chmedia.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.chv{
    background-image: url(../images/chv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cielo{
    background-image: url(../images/cielo.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cine{
    background-image: url(../images/cine.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cinedigm{
    background-image: url(../images/cinedigm.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cinelife{
    background-image: url(../images/cinelife.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cityradio{
    background-image: url(../images/cityradio.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.citytv{
    background-image: url(../images/citytv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cl13{
    background-image: url(../images/CL13.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.clantv{
    background-image: url(../images/clantv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cm{
    background-image: url(../images/cm.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cmb{
    background-image: url(../images/cmb.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cmb{
    background-image: url(../images/cmb.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cmc{
    background-image: url(../images/cmc.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cmt{
    background-image: url(../images/cmt.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cna{
    background-image: url(../images/cna.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cnc{
    background-image: url(../images/cnc.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cncworld{
    background-image: url(../images/cncworld.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cnn{
    background-image: url(../images/cnn.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.colorvision{
    background-image: url(../images/colorvision.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.combatgo{
    background-image: url(../images/combatgo.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.company{
    background-image: url(../images/company.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.complex{
    background-image: url(../images/complex.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.compras{
    background-image: url(../images/compras.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cordobatv{
    background-image: url(../images/cordobatv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cortofilms{
    background-image: url(../images/cortofilms.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cosmo{
    background-image: url(../images/cosmo.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cosmovision{
    background-image: url(../images/cosmovision.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.country{
    background-image: url(../images/country.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.courttv{
    background-image: url(../images/courttv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cpac{
    background-image: url(../images/cpac.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cristovision{
    background-image: url(../images/cristovision.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cronica{
    background-image: url(../images/cronica.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cspan{
    background-image: url(../images/cspan.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.ct{
    background-image: url(../images/ct.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.ctni{
    background-image: url(../images/ctni.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.ctv{
    background-image: url(../images/ctv.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cubavision{
    background-image: url(../images/cubavision.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cugat{
    background-image: url(../images/cugat.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cw{
    background-image: url(../images/cw.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cyltv_7{
    background-image: url(../images/cyltv_7.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cyltv_8{
    background-image: url(../images/cyltv_8.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cym{
    background-image: url(../images/cym.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.tyc{
    background-image: url(../images/tycsports.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.lequipe{
    background-image: url(../images/lequipe.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.tigo{
    background-image: url(../images/tigosports.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.goltvec{
    background-image: url(../images/goltv.png);
    background-repeat: no-repeat;
    background-size: contain;
}